button {
    color: #fff !important;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    font-size: x-large;
    border: none;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    position: fixed;
    right: 0%;
  }
  
  button:hover {
    text-shadow: 0px 0px 6px white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  #password {
    width: 100%;
    margin: 10px 2px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #65dfc9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  #username {
    width: 100%;
    margin: 10px 2px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #65dfc9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .container {
    padding: 25px;
    background: white;
    min-height: 5vh;
    width: 40%;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    position: relative;
    margin-left: 50%;
    margin-top: 12%;
  }
  
  form h1 {
    position: fixed;
    top: 18%;
    right: 23%;
    color: azure;
  }
  
  .side img {
    width: 40%;
    height: 80%;
    top: 5rem;
    position: fixed;
    left: 1rem;
  }
  