p {
  color: transparent;
}

.login-box {
  position: fixed;
  top: 45%;
  left: 75%;
  width: 40%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0,0,0,.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px ghostwhite;
          box-shadow: 0 15px 25px ghostwhite;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03e9f4,
 0 0 25px #03e9f4,
 0 0 50px #03e9f4,
 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4,
 0 0 25px #03e9f4,
 0 0 50px #03e9f4,
 0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
  animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
  animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
  animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
  animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.register img {
  width: 50%;
  height: 80%;
  margin-top: 5%;
  position: fixed;
  margin-left: 1%;
}

button {
  background-color: transparent;
  background: transparent;
  font-size: large;
  color: white;
  border: transparent;
}




