@import url("https://fonts.googleapis.com/css?family=Roboto");
.register img {
  width: 40%;
  height: 80%;
  margin: top 0%;
  position: fixed;
}

.register-form {
  font-family: "Roboto", sans-serif;
  width: 60;
  margin-top: 7%;
  margin-left: 43%;
  margin-right: 1%;
  background: mistyrose;
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h2 {
  font-size: 30px;
  text-align: center;
  color: black;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.horizontal-group .left {
  float: left;
  width: 49%;
  margin-left: 1%;
}

.horizontal-group .right {
  float: right;
  width: 49%;
  margin-right: 1%;
}

.register-form .label-title {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.dob {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 7% 18%;
  position: absolute;
}

#dob {
  margin: 7% 38%;
  padding: 2rem auto;
  position: relative;
  font-size: large;
}

.register-form .dept {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#dept {
  padding: 1% 0%;
  position: fixed;
  margin-top: 4%;
  margin-left: -16rem;
  font-size: large;
}

#male {
  position: relative;
  margin-left: 1%;
  width: 15px;
  height: 15px;
}

#female {
  position: relative;
  margin-left: 1%;
  width: 15px;
  height: 15px;
}

.register-form .form-input {
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 1rem 10px;
  margin: 1rem auto;
  color: #1BBA93;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.register-form .form-input:focus {
  background-color: lightcyan;
  color: royalblue;
}

::-webkit-input-placeholder {
  color: #d9d9d9;
}

.register-form .form-footer {
  text-align: right;
  clear: both;
  margin: -2%;
  padding-left: 0%;
  padding-bottom: 8%;
}

.form-footer span {
  float: left;
  margin-top: 4%;
  margin-left: 5%;
  color: #999;
  font-style: italic;
  font-weight: bolder;
  font-size: x-large;
}

.btn {
  display: inline-block;
  padding: 2% 3%;
  margin-left: 80%;
  margin-top: 0%;
  background-color: #1BBA93;
  font-size: x-large;
  border: none;
  border-radius: 5px;
  color: #bcf5e7;
  cursor: pointer;
  position: fixed;
  display: none;
}

.btn:hover {
  background-color: linear-gradient(to right bottom, red, peachpuff);
  color: white;
}
