html {
  background: -webkit-gradient(linear, left top, right bottom, from(#06beb6), to(#48b1bf));
  background: linear-gradient(to right bottom, #06beb6, #48b1bf);
  z-index: 1;
  background-repeat : repeat ;
}

.chart1 {
  display: none;
  position: absolute;
  margin-top: 4rem;
  margin-left: 50%;
  z-index: 1;
}

.chart2 {
  display: none;
  position: absolute;
  margin-top: 4rem;
  margin-left: 50%;
  z-index: 1;
}

.chart3 {
  display: none;
  position: absolute;
  margin-top: 4rem;
  margin-left: 50%;
  z-index: 1;
}

.block {
  position: fixed;
  top: 0rem;
  left: 0rem;
  height: 10%;
  width: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

.block h1 {
  position: fixed;
  left: 40%;
  color: aliceblue;
  font-size: 40px;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 10%;
  margin-left: 5%;
}

ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15em;
  height: 3em;
  font-size: 25px;
  border-radius: 0.5em;
  margin-top: 0.4%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

ul li:nth-child(odd) {
  background: -webkit-gradient(linear, left top, right top, from(orange), to(tomato));
  background: linear-gradient(to right, orange, tomato);
  text-align: left;
  padding-left: 6%;
  -webkit-transform: perspective(500px) rotateY(45deg);
          transform: perspective(500px) rotateY(45deg);
}

ul li:nth-child(even) {
  background: -webkit-gradient(linear, right top, left top, from(orange), to(tomato));
  background: linear-gradient(to left, orange, tomato);
  text-align: right;
  padding-right: 6%;
  -webkit-transform: perspective(500px) rotateY(-45deg);
          transform: perspective(500px) rotateY(-45deg);
}

ul li:nth-child(odd):hover {
  -webkit-transform: perspective(200px) rotateY(45deg);
          transform: perspective(200px) rotateY(45deg);
  padding-left: 1%;
}

ul li:nth-child(even):hover {
  -webkit-transform: perspective(200px) rotateY(-45deg);
          transform: perspective(200px) rotateY(-45deg);
  padding-right: 1%;
}

#winner
{
  position: static ;
  left: 50% ;
  top: 20% ;
  background:rgba(360, 360, 360,0.4);
  color: rebeccapurple;
  padding: 3%;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}

@keyframes image-slide {
  0% {
    transform: translatex(-250px) scale(0);
  }
  60% {
    transform: translatex(-250px) scale(1);
  }
  90% {
    transform: translatex(150px) scale(1);
  }
  100% {
    transform: translatex(150px) scale(1);
  }
}
@keyframes text-slide {
  0% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  77% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes text-slide {
  0% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  77% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: -1;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 182ms;
  -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 161ms;
  -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-51deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 481ms;
  -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(61deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 334ms;
  -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-52deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 302ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(38deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 180ms;
  -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(11deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 395ms;
  -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(49deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 14ms;
  -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 149ms;
  -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(10deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 351ms;
  -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 307ms;
  -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(42deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
  -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 429ms;
  -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
  background: #7431e8;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
background: red;
}
@-webkit-keyframes makeItRain {
  from {opacity: 0;}
  50% {opacity: 1;}
  to {-webkit-transform: translateY(350px);}
}


