html {
  background: url(https://ethicaldebuggers.com/wp-content/uploads/2020/07/Untitled-2-1140x571.jpg);
  background-size: cover;
}
#msg {
  position: fixed;
  top: 4%;
  left: 26%;
  font-size: xx-large;
  color: navy;
  font-weight:900;
}
.otp {
  overflow: hidden;
  background-color: steelblue;
  padding: 5%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 55%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  color: yellow;
  font-size: x-large;
}
.otp input{
  padding: 1%;
  font-size: larger;
}
.otp::before, .otp::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.otp::before {
  left: 40%;
  bottom: -130%;
  background-color: royalblue;
  -webkit-animation: waves 6s infinite linear;
  animation: waves 6s infinite linear;
}
.otp::after {
  left: 35%;
  bottom: -125%;
  background-color: rgb(33, 83, 233);
  -webkit-animation: waves 7s infinite;
  animation: waves 7s infinite;
}
.otp > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.otp > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  transition: background-color 300ms;
}
.otp > button:hover {
  background-color: #f24353;
}
.regdet {
  font-size: large;
  overflow: hidden;
  position: fixed;
  top: 8%;
  left: 0%;
  height: 90%;
  backdrop-filter: blur(8px);
  text-align: left;
  border: 5px solid #010101;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.regdet form label {
  font-size: x-large;
  color: rgb(79, 0, 136);
  font-weight: bolder;
  
}

.regdet form p {
  font-size: xx-large;
  color: firebrick;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  font-weight:1000;
}

.regdet form input {
  font-size: x-large;
  padding: 0.7%;
  border: none;
  color: #010101;
  background-color: transparent;
}

.regdet ul li {
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 1rem;
}
.verify {
  overflow: hidden;
  background-color: steelblue;
  padding: 5%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}
.verify input{
  padding: 1%;
  padding-right: 2%;
}
.verify label{
  color: rgb(248, 221, 66);
  font-size: larger;
  font-weight: 700;
  margin-left: 10;
}
.verify::before, .verify::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.verify::before {
  left: 40%;
  bottom: -130%;
  background-color: steelblue;
  -webkit-animation: waves 6s infinite linear;
  animation: waves 6s infinite linear;
}
.verify::after {
  left: 35%;
  bottom: -125%;
  background-color: royalblue;
  -webkit-animation: waves 7s infinite;
  animation: waves 7s infinite;
}
.verify > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.verify > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 60px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  transition: background-color 300ms;
}
.verify > button:hover {
  background-color: #f24353;
}

@-webkit-keyframes waves {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes waves {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}